<h2>Input Player</h2>
<form ng-submit="controller.savePlayer()">
    <div></div>
    <h3>Team:</h3>
    <select name="team" ng-model="controller.player.team" required>
        <option>Blue Team</option>
        <option>Red Team</option></select>

        <h3>First Name:</h3>
        <input ng-model="controller.player.firstName" />
        <div>
        </div>
        <div></div>
        <h3>Last Name:</h3>
        <input ng-model="controller.player.lastName" />
        <div>
        </div>
        <div></div>
        <h3>High School:</h3>
        <input ng-model="controller.player.highSchool" />
        <div>
        </div>
        <div></div>
        <h3>Age:</h3>
        <input type="number" ng-model="controller.player.age" />
        <div>
        </div>
        <div></div>
        <div></div>
        <h3>Position:</h3>
        <select name="position" ng-model="controller.player.position" required>
        <option>1st base</option>
        <option>2nd base</option>
        <option>3rd base</option>
        <option>Short Stop</option>
        <option>Left Field</option>
        <option>Center Field</option>
        <option>Right Field</option>
        <option>Pitcher</option>
        <option>Catcher</option>
    </select>
        <div>
        </div>
        <h3>Height:</h3>
        <input ng-model="controller.player.height" />
        <div>
        </div>
        <div></div>
        <h3>Weight:</h3>
        <input type="number" ng-model="controller.player.weight" />
        <div>
        </div>
        <input type="submit" value="Add" />
</form>
<div>
   

    <ul>
        <li ng-repeat="p in controller.players">
            {{p.lastName}}, {{p.firstName}}
            <a ui-sref="edit({id: p.id})">edit</a>
          <a ui-sref="delete({id: p.id})">delete</a>
</li>
    </ul>
</div>
